# Dateaset

In this homework, we will use the lead scoring dataset Bank Marketing dataset. [Download it from here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv).

In this dataset our desired target for classification task will be 'converted' variable - has the client signed up to the platform or not.

In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Importing the dataset
!pip install wget
import wget
!wget wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv

Requirement already satisfied: wget in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.2)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip
--2025-10-20 11:41:20--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address ‘wget’
--2025-10-20 11:41:20--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv’

course_lead_scoring 100%[===================>]  78.98K  --.-KB/s    in 0.001s

2025-10-20 11:41:20 (78.8 MB/s) - ‘course_lead_scoring.csv’ saved [80876/80876]

FINISHED --2025-10-20 11:41:20--
Total wall clock time: 0.07s
Downloaded: 1 files, 79K in 0.001s (78.8 MB/s)

In [2]:
df = pd.read_csv('course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

# Data preparation

* Check if the missing values are presented in the features.
* If there are missing values:
  - For caterogiral features, replace them with 'NA'
  - For numerical features, replace with with 0.0
* Split the data into 3 parts: train/validation/test with 60%/20%/20% distribution. Use train_test_split function for that with random_state=1

In [3]:
# Check for missing values
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [ ]:
def clean_transform(df):
    df = df.copy()

# If the column is categorical, replace the missing values with 'NA'
    categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
    
    for c in categorical_columns:
        df[c] = df[c].fillna('NA')
    
#For numerical features, replace with with 0.0
    num_columns = list(df.dtypes[(df.dtypes == 'int64') | (df.dtypes == 'float64')].index)
    
    for n in num_columns:
        df[n] = df[n].fillna(0.0)
    return df

In [ ]:
def split_60_20_20(df, target):
    df = df.copy()
# Split the data into 3 parts: train/validation/test with 60%/20%/20% distribution. 
#Use train_test_split function for that with random_state=1
    
    from sklearn.model_selection import train_test_split
    df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
    df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)
    print(len(df_train), len(df_val), len(df_test))
    
    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)
    
# Target for classification task will be 'target' variable
    y_train = df_train[target].values
    y_val = df_val[target].values
    y_test = df_test[target].values
    
    del df_train[target]
    del df_val[target]
    del df_test[target]
    return df_train, df_val, df_test, y_train, y_val, y_test

(876, 293, 293)

In [ ]:
df = clean_transform(df)
df_train, df_val, df_test, y_train, y_val, y_test = split_60_20_20(df, target = 'converted')
df_train.head()