In [2]:
import numpy as np 
import pandas as pd
import matplotlib as mt
import seaborn as sea

# Q1. Pandas version

In [3]:
pd.__version__

'2.3.1'

In [6]:
!pip install wget
import wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: wget
  Building wheel for wget (pyproject.toml) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9685 sha256=2e3d4c0377a5b3ef4e66dddea6d4aa73f302290b5142f5c002da2cfff49ec8a9
  Stored in directory: /home/codespace/.cache/pip/wheels/01/46/3b/e29ffbe4ebe614ff224bad40fc6a5773a67a163251585a13a9
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [7]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-01 09:19:01--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.008s

2025-10-01 09:19:01 (101 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [9]:
df = pd.read_csv('car_fuel_efficiency.csv')

# Q2. Records count

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

# Q3. Fuel types

In [12]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

# Q4. Missing values

In [13]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [21]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Q5. Max fuel efficiency (for cars from Asia)

In [32]:
df.groupby(df.origin).max()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
origin,,,,,,,,,,
Asia,370,11.0,245.0,4661.144932,22.7,2023,Gasoline,Front-wheel drive,4.0,23.759123
Europe,380,13.0,271.0,4726.977269,23.5,2023,Gasoline,Front-wheel drive,3.0,25.967222
USA,380,13.0,252.0,4739.077089,24.3,2023,Gasoline,Front-wheel drive,3.0,24.971452

# Q6. Median value of horsepower

In [28]:
med_1 = df.horsepower.median()
med_1

np.float64(149.0)

In [29]:
df['horsepower'] = df['horsepower'].fillna(value=med_1)
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [30]:
med_2 = df.horsepower.median()
med_1 == med_2

np.True_

# Q7. Sum of weights

In [37]:
df_asia = df[df['origin'] == 'Asia']
df_asia.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [50]:
df_asia_7_rows = df_asia[['vehicle_weight', 'model_year']].iloc[:7]
df_asia_7_rows

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [56]:
# Get the underlying NumPy array. Let's call it X.
X = df_asia_7_rows.to_numpy()

In [52]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.dot(X.T)
# Invert XTX.
XTX_inv = np.linalg.inv(XTX)

In [53]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [55]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
X_T = X.T
a = X_T.dot(XTX_inv)
w = a.dot(y)
w.sum().round(3)

np.float64(0.391)

In [59]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
X_T = X.T
XTX = X_T.dot(X)

# Invert XTX.
XTX_inv = np.linalg.inv(XTX_2)

# Create a y value
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
a_2 = XTX_inv_2.dot(X_T)
w = a_2.dot(y)
w.sum()

np.float64(0.5187709081074016)